<div class="container-fluid">
  <div class="row py-3 border-bottom">

    <!-- Logo and Navigation - Centered for small screens -->
    <div class="col-12 col-sm-4 col-lg-3 text-center text-sm-start d-flex justify-content-center justify-content-sm-start">
      <div class="d-flex align-items-center">
        <img src="/image/logo.png" height="48"  alt="FoodMart Logo" class="me-2">
        <div>
          <a class="nav-link active fw-bold" href="#">Medical Care</a>
          <a class="nav-link active text-muted" href="#">Health care</a>
        </div>
      </div>
    </div>

    <!-- Search bar - visible on large screens -->
    <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
      <div class="search-bar row bg-light p-2 my-2 rounded-4">
        <div class="col-md-4 d-none d-md-block">
          <select class="form-select border-0 bg-transparent">
            <option>All Categories</option>
            <option>Groceries</option>
            <option>Drinks</option>
            <option>Chocolates</option>
          </select>
        </div>
        <div class="col-11 col-md-7">
          <form id="search-form" class="text-center" action="index.html" method="post">
            <input type="text" class="form-control border-0 bg-transparent" placeholder="Search for more than 20,000 products" />
          </form>
        </div>
        <div class="col-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- Support and Icons - Right aligned -->
    <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
      <div class="support-box text-end d-none d-xl-block">
        <span class="fs-6 text-muted">For Support?</span>
        <h5 class="mb-0">+84-234567898</h5>
      </div>

      <ul class="d-flex justify-content-end list-unstyled m-0">
        <li>
          <a href="#" class="rounded-circle bg-light p-2 mx-1 icon">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
          </a>
        </li>
        <li>
          <a href="#" class="rounded-circle bg-light p-2 mx-1 icon">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
          </a>
        </li>
        <li class="d-lg-none">
          <a href="#" class="rounded-circle bg-light p-2 mx-1 icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
          </a>
        </li>
        <li class="d-lg-none">
          <a href="#" class="rounded-circle bg-light p-2 mx-1 icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg>
          </a>
        </li>
      </ul>
      <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
        <span class="fs-6 text-muted dropdown-toggle">Your Cart</span>
        <span class="cart-total fs-5 fw-bold">$1290.00</span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasCartLabel">Your Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          Your cart is empty.
        </div>
      </div>
    </div>
  </div>
</div>
